<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/hemant/Downloads/MintproSanityAutomation/src/test/java/com/qa/turtlemint/testcases">
        <method-selectors>
            <method-selector>
                <script language="beanshell">
                    <![CDATA[
                    String myTestGroup = System.getProperty("groupName");
                    groups.containsKey(myTestGroup);
                ]]>
                </script>
            </method-selector>
        </method-selectors>

                <groups>
                    <run>
                        <include name="${groupName}"></include>
                    </run>
                </groups>
        <classes>
            <class name="Mis_Test.Mis_Demo"/>
            <class name="DashBoard.TC_61_to_116_test"></class>
            <class name="DashBoard.Mis_Dashboard"></class>
            <class name="DashBoard.Dashboard_TCs_113To179"></class>
            <class name="Manual_Autoparse.TC_09_TO_21_Test"></class>
            <class name="Manual_Autoparse.TC_1_12_test"></class>

        </classes>

    </test>
</suite>